# Never Push The ".env" File To GitHub (Your Discord BOT and/or OpenAI Might Get Compromised)

# Discord BOT Credentials from "Discord Developer Portal"
DISCORD_CLIENT_ID=
DISCORD_BOT_TOKEN=

# Account Login Credentials
EMAIL=
PASSWORD=

# Login Type, google / openai
LOGIN_TYPE=openai