# Never Push The ".env" File To GitHub (Your Discord BOT and/or OpenAI Might Get Compromised)

# Discord BOT Credentials from "Discord Developer Portal"
DISCORD_CLIENT_ID=
DISCORD_BOT_TOKEN=

# OpenAI Account Credentials
OPENAI_EMAIL=
OPENAI_PASSWORD=